
<!DOCTYPE html>

<html lang="en">
	<head>
		<title>{{ branch }}/{{ file_path }}</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

	</head>
	<body>
		<div id="main_div">
			<div id="header" class="flex-container">
				<div id="title" class="flex-item er-block"><a href="/">pgit</a></div>      
				<div id="branches" class="flex-item er-block">
					<form name="branch_list">
						<select id="dropdown" name="menu" onChange="top.location.href=this.options[this.selectedIndex].value;" value="GO">
							<option selected="selected">{{ branch }}</option>
							{% for i in branches %}
							<option value="/r/{{ repo_name }}/{{ i }}/{{ file_path }}">{{ i }}</option>
							{% endfor %}
						</select>
					</form>

				</div>

				<div id="commits" class="flex-item er-block"><a href="/r/{{repo_name}}/{{ branch }}/commits">Commits</a></div>
			</div>
			<div id="path"><a href="/r/{{ repo_name }}/{{ branch }}">{{ repo_name }}</a>/{{ file_path }}</div>
			<div id="filelist">
				<ul id="dirlist">
					{% for entry in files %}
					<li class="flex-li">
						<div id="filename" class="flex-li-div"><a href="{{ file_path }}/{{ entry.name }}">{{ entry.name }}</a></div>
						<div id="commit-msg" class="flex-li-div"></div>
						<div id="edit-time" class="flex-li-div"></div>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div id="footer">

			</div>
		</div>

	</body>
</html>

