<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ repo.path }}</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
	</head>
	<body>
		<div id="main_div">
			<div id="header">
				<div id="title"><a href="/">pGit</a></div>      

			</div>


			<ul id="dirlist">

				<a href="{{ branch}}/commits"> Commit List</a>

				{% for entry in files %}
				<li>
					<a href="{{ branch }}/{{ entry.name }}">{{ entry.name }}</a>
				</li>
				{% endfor %}
			</ul>
			<div id="footer">

			</div>
		</div>

	</body>
</html>
