<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Repo List</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
	</head>
	<body>
		<div id="main_div">
			<div id="header" class="flex-container">
				<div id="title" class="er-block"><a href="/">pgit</a></div>      
				
			</div>

			<ul id="dirlist">
				{% for i in dirlist %}
				<li>
					<a href="/r/{{ i }}/master">{{ i }}</a>
				</li>
				{% endfor %}
			</ul>
			<div id="footer">

			</div>
		</div>
	</body>
</html>
