html{

}

body{
	background-color: black;
	margin: 20px;
	width: auto;
	font-family: Droid Sans, sans-serif;		
}

a:link{ color: #1789EB; text-decoration: none;}
a:visited{ color: #1789EB}
a:hover{ color: #1995FF}

select{
	color: #d6d6d6;
	background-color: black;
	outline: 0px;
	border: 0px;
	font-size: 18px;
}

ul{
	list-style: none;
}


.flex-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-item{
	flex-grow: 0;
	flex-basis: auto;
}

.er-block{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 18px;
}

.flex-li{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex-li-div{
	flex-grow: 1;
	flex-basis: auto;
	text-align: left;
	margin: auto;
}

#filename{
	width: 150px;
}

#commit-msg{
	color: #828282;
}

#edit-time{
	text-align: right;
	color: #828282;
}

#main_div{
	width: 720px;
	min-height:200px;
	margin: 0 auto;
	
}

#header{

	background-color: #0;
	font-color: #d6d6d6;
	border-radius: 15px;
	border-color: #525252;
	border-width: 0px 3px 0px 3px;
	border-style: solid;
}


#header a{
	text-decoration: none;
	color: #d6d6d6;
}

#title{
	margin-left: 20px;
	margin-right: 50px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 32px;
	
}
#title a{
	color:  #F38D00;
	font-family: Droid Sans Mono, monospace;
}
#branches{

}

#commits{

}


